node_modules
node_modules_broken
expo/node_modules_broken
expo-broken
.env
.expo
package-lock.json
expo/dist/
expo/web-build/
expo/test-results/
expo/playwright-report/
bun [0-9]*.lock
.DS_Store
**/.DS_Store
